# FVM Version Cache
.fvm/

# Files and directories created by pub
.dart_tool
.packages
.pub
pubspec.lock
build/

coverage/

# ignore generated mocks
**/*.mocks.dart

native/io/desktop/build

test/src/native/web/photon_rs_bg.wasm
test/src/native/web/photon_rs.js
test/src/native/web/transformer.js
test/src/native/web/transformer_worker.js
test/src/native/io/mobile/io_transformer_bindings_test_mob_generated.dart